.body-component {
    margin-left: 0;
    margin-top: -5vh;
    padding: 10vh;
    /* background-color: rgb(69, 52, 52); */
    background-color: white;

    height: 80vh;
}

.info-container--name {
    position: absolute;
    background-color: rgb(166, 160, 160);    
    width: 40%;
    height: 90vh;
    margin-left: 1vh;
    margin-top: 1vh;
    left: 0;
    top: 0;
}

.panel--text {
    position: absolute;
    color: white;
    z-index: 1;
}

.return-button {
    position: absolute;
    margin-top: -4vh;
    border-radius: 1vh;
    text-align: center;
    font-size: 2vh; 
}

@media (max-width: 700px) {

    .info-container--name {
        position: absolute;
        background-color: rgb(166, 160, 160);    
        width: 100%;
        height: 120vh;
        margin-left: 1vh;
        margin-top: 1vh;
        left: 0;
        top: 0;

        border-right: 1vh white solid;
    }

    .body-component {
        margin-left: -5vh;
        margin-top: -5vh;
        padding: 10vh;
        /* background-color: rgb(69, 52, 52); */
        background-color: white;
    
        height: 90vh;
    }

    .return-button {
        position: absolute;
        margin-top: -5vh;
        border-radius: 1vh;
        text-align: center;
        font-size: 2vh; 
    }

}
