.main-container {
    height: 100vh;
}

.title-comp {
    background-color: #436c4b;
    color: white;
    text-align: center;

    margin-left: 80vmin;
    margin-right: 80vmin;
    border-radius: 10vmin;

}

.center-block {
    color: black;
    text-align: center;
}

.horizontal-line {
  width: 80%;
  height: .2vmin;
  background-color: black; 
  margin-top: 1vmin; 
}

